#container{
    background-color: #DDDDDD;
    width: 800px;
    margin-left: 20%;
    text-align: center;
    min-height: 500px;
    height: auto;
    border-radius: 33px;
}
.button{
    margin: 170px;
    padding: 5px 40px;
    font-size: 35px;
    border-radius: 33px;
    color: white;
    background: #FF4136;
    border: none;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: 10000;
    box-shadow: 2px 5px 29px firebrick;
}
@keyframes anim{
        50%{ box-shadow: 0px 0px 0px firebrick;   
        }
        100%{ box-shadow: 2px 5px 29px firebrick;
        }
    }

.childclass,#clock{
	display: grid;
    padding: 20px;
    font-size:20px;
   text-align: -webkit-center;
   border-radius: 33px;
}
#clock{
    height: 100px;
    width: 800px;
}

.childclass{
    font-size:18px;
}
#anim{
       margin-left: 330px;
  position:absolute; 
      width: 80px;
    line-height: 80px; 
}
#counter{
    position:absolute;
    margin-left: 330px;
    border-radius: 50%;

    border: 1px solid #FF4136; 
    width: 80px;
    height: 80px;
    border-top:4px solid #39CCCC;
    animation-name: anime;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1000;
}
@keyframes anime{
        form{
        	transform: rotate(0deg);
        }
        to{
        	transform: rotate(360deg);
        }
    }
    img{
       padding-top:40px;
    }